* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
}

img {
  max-width: 37.4rem;
}

.testimonials img {
  width: 5rem;
}

.display-1 {
  letter-spacing: -0.2rem;
  font-weight: 600;
}

section {
  border-top: 1px solid transparent;
  border-top: 1px solid transparent;
}

.navbar {
  height: 10rem;
  width: 100%;
  position: absolute;
  top: 3.5rem;
  z-index: 5;
}
.navbar a {
  color: #000;
}
.navbar a i {
  color: #f41976;
}
.navbar > .container {
  margin: 0 auto;
}
.navbar-collapse {
  flex-grow: 0;
}
.navbar-collapse ul li {
  font-size: 1.6rem;
  padding: 0 1rem;
}
.navbar-collapse ul li:first-of-type {
  padding-left: 0;
  display: none;
}
.navbar-collapse ul li:last-of-type {
  padding-right: 0;
}
.navbar-expand-lg {
  justify-content: space-between;
}
.navbar-toggler:focus {
  box-shadow: none;
}
.navbar-toggler-icon {
  display: inline-flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}
.navbar-toggler-icon .navbar-icon-lines {
  height: 0.2rem;
  background: #000;
  margin-bottom: 0.5rem;
}
.navbar-toggler-icon .navbar-icon-lines.line-1 {
  width: 100%;
  transition: 0.3s;
}
.navbar-toggler-icon .navbar-icon-lines.line-2 {
  width: 75%;
}
.navbar-toggler-icon .navbar-icon-lines.line-3 {
  width: 50%;
  transition: 0.3s;
}
.navbar-toggler-icon:hover .navbar-icon-lines.line-1 {
  width: 50%;
  transition: 0.3s;
}
.navbar-toggler-icon:hover .navbar-icon-lines.line-3 {
  width: 100%;
  transition: 0.3s;
}

.hero img {
  height: 90%;
  z-index: 2;
  filter: drop-shadow(0 0.75rem 0.5rem rgba(147, 65, 212, 0.5));
}
.hero > .container {
  height: 100%;
  padding-top: 13rem;
  padding-bottom: 3rem;
  border-radius: 3rem;
  background: #f0f7fc;
}
.hero h2 {
  line-height: 1.5;
}
.hero h5 {
  color: rgba(255, 255, 255, 0.75);
  text-transform: uppercase;
}
.hero .img-col::before {
  content: "";
  width: 60rem;
  height: 60rem;
  background: linear-gradient(45deg, #9341d4 0%, #d98efb 50%, #9341d4 100%);
  background-size: 200% 200%;
  animation: img-col-circle 5s linear infinite alternate-reverse;
  border-radius: 100%;
  position: absolute;
  right: 50%;
  transform: translateX(30rem);
  z-index: 1;
  filter: drop-shadow(0 0.75rem 4rem #d98efb);
}

.app-link a {
  position: relative;
  border-radius: 5rem;
  color: white;
  text-decoration: none;
}
.app-link i {
  font-size: 3.4rem;
}
.app-link:first-of-type a {
  background: linear-gradient(0deg, #f2026b 0%, #ff8aaf 50%, #f2026b 100%);
  filter: drop-shadow(0 0.75rem 0.75rem #ff8aaf);
  background-size: 200% 200%;
  background-position: center bottom;
  transition: 0.3s;
}
.app-link:first-of-type a:hover {
  background-position: center top;
  transition: 0.3s;
}
.app-link:last-of-type a {
  background: linear-gradient(0deg, #1369ec 0%, #65bef4 50%, #1369ec 100%);
  filter: drop-shadow(0 0.75rem 0.75rem #65bef4);
  background-size: 200% 200%;
  background-position: center bottom;
  transition: 0.3s;
}
.app-link:last-of-type a:hover {
  background-position: center top;
  transition: 0.3s;
}

.feature {
  transition: 0.3s;
}
.feature-icon {
  width: 25rem;
  height: 25rem;
  margin: 0 auto;
  animation: img-col-circle 5s linear infinite alternate-reverse;
  border-radius: 100%;
}
.feature-icon i {
  font-size: 8rem;
  color: #fff;
}
.feature .inner-container {
  background: #fff;
  border-radius: 2.5rem;
}
.feature .inner-container h1 {
  font-weight: 700;
}
.feature .inner-container::before {
  content: "";
  width: 4.8rem;
  height: 2.2rem;
  background-size: cover;
  display: block;
  background: url("/assets/img/arrow.png") no-repeat;
  position: absolute;
  top: -2rem;
  left: 50%;
  transform: translateX(-50%);
}
.feature:first-of-type .feature-icon {
  background: linear-gradient(45deg, #9341d4 0%, #d98efb 50%, #9341d4 100%);
  background-size: 300% 300%;
  background-position: bottom left;
}
.feature:first-of-type .row:last-of-type .col {
  background: #efdff7;
}
.feature:nth-of-type(2) .feature-icon {
  background: linear-gradient(45deg, #ffb16b 0%, #ffdb8d 100%);
  background-size: 300% 300%;
  background-position: bottom left;
}
.feature:nth-of-type(2) .row:last-of-type .col {
  background: #ffe8c6;
}
.feature:nth-of-type(3) .feature-icon {
  background: linear-gradient(45deg, #19a5a1 0%, #63e8e4 100%);
  background-size: 300% 300%;
  background-position: bottom left;
}
.feature:nth-of-type(3) .row:last-of-type .col {
  background: #d0f3f2;
}
.feature:last-of-type .feature-icon {
  background: linear-gradient(45deg, #f2026b 0%, #ff8aaf 100%);
  background-size: 300% 300%;
  background-position: bottom left;
}
.feature:last-of-type .row:last-of-type .col {
  background: #ffdae8;
}
.feature:nth-of-type(1n):hover {
  margin-top: 10rem;
}
.feature:nth-of-type(2n) {
  margin-top: 10rem;
}
.feature:nth-of-type(2n):hover {
  margin-top: 0;
}
.feature .row:last-of-type > .col {
  border-radius: 2.5rem;
}
.feature p {
  font-size: 1.6rem;
  line-height: 1.9;
}

.more-features .img-header {
  height: 62.5rem;
  z-index: 1;
}
.more-features .img-header .textures,
.more-features .img-header .circles-img {
  bottom: 0;
}
.more-features .img-header .textures img {
  max-width: none;
}
.more-features .img-header .circles-img {
  bottom: -13rem;
}
.more-features .img-header .circles-img img {
  max-width: none;
  z-index: 2;
}
.more-features .img-header .circles-img::before {
  content: "";
  width: 75rem;
  height: 75rem;
  background: linear-gradient(45deg, #9341d4 0%, #d98efb 50%, #9341d4 100%);
  background-size: 200% 200%;
  animation: img-col-circle 5s linear infinite alternate-reverse;
  border-radius: 100%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}
.more-features .img-header .play-button {
  width: 15rem;
  height: 15rem;
  background: linear-gradient(45deg, #1369ec 0%, #65bef4 50%, #1369ec 100%);
  filter: drop-shadow(0 0.75rem 0.75rem #65bef4);
  background-size: 150% 150%;
  background-position: bottom left;
  border: none;
  border-radius: 100%;
  top: 10%;
  left: 20%;
  z-index: 2;
  transition: 0.3s;
}
.more-features .img-header .play-button i {
  font-size: 5rem;
  color: #fff;
}
.more-features .img-header .play-button i:first-of-type {
  z-index: 2;
  transform: translateX(-4%);
}
.more-features .img-header .play-button i.large {
  color: #65bef4;
  font-size: 7rem;
  z-index: 1;
}
.more-features .img-header .play-button:hover {
  cursor: pointer;
  background-position: top right;
}
.more-features .modal {
  top: -200rem;
  transition: 0.3s;
}
.more-features .modal.show {
  top: 0;
  transition: 0.3s;
}
.more-features .modal-dialog {
  width: 75%;
  margin: 0;
}
.more-features .modal-dialog-centered {
  display: flex !important;
  justify-content: center;
}
.more-features .modal-dialog iframe {
  width: 100%;
}
.more-features .modal-content {
  background-color: transparent;
  background-clip: initial;
  border: none;
}
.more-features .modal-content .close-btn {
  position: absolute;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 100%;
  background: #c274ee;
  width: 5rem;
  height: 5rem;
  top: -2.5rem;
  right: -2.5rem;
  z-index: 6;
  transition: 0.3s;
}
.more-features .modal-content .close-btn:hover {
  background: #fff;
  transition: 0.3s;
  border: 0.3rem solid #c274ee;
  cursor: pointer;
}
.more-features .modal-content .close-btn:hover i {
  transition: 0.3s;
  color: #c274ee;
}
.more-features .modal-content .close-btn i {
  color: #fff;
  font-size: 2.4rem;
  transition: 0.3s;
}
.more-features .row:last-of-type {
  background: #f0f7fc;
  border-radius: 3rem;
}
.more-features .text-content {
  z-index: 2;
}
.more-features .text-content-container {
  background: #fff;
  border-radius: 2.5rem;
}
.more-features .text-content-container h2 {
  font-weight: 600;
}
.more-features .text-content-container h4 {
  line-height: 1.75;
}
.more-features-logo .icon-container {
  width: 10rem;
  height: 10rem;
  border-radius: 100%;
  background: linear-gradient(0deg, #daecf9 0%, #fff 100%);
}
.more-features-logo .icon-container i {
  color: #3890f0;
  font-size: 4rem;
}
.more-features .left-col .text-content-container::before {
  content: "";
  width: 4.8rem;
  height: 2.2rem;
  background-size: cover;
  display: block;
  background: url("/assets/img/arrow.png") no-repeat;
  position: absolute;
  top: 50%;
  left: -3rem;
  transform: translateY(-50%) rotate(-90deg);
}
.more-features .right-col .text-content-container::before {
  content: "";
  width: 4.8rem;
  height: 2.2rem;
  background-size: cover;
  display: block;
  background: url("/assets/img/arrow.png") no-repeat;
  position: absolute;
  top: 50%;
  right: -3rem;
  transform: translateY(-50%) rotate(90deg);
}
.more-features .btn-row a {
  border: 4px solid #c7dffa;
  color: #666b6d;
  background: linear-gradient(0deg, rgba(19, 105, 236, 0) 0%, rgba(255, 177, 107, 0) 50%, #1369ec 51%, #65bef4 100%);
  background-size: 300% 300%;
  background-position: center bottom;
  transition: 0.3s;
}
.more-features .btn-row a:hover {
  background-position: center top;
  color: #fff;
  transition: 0.3s;
}

.how-to .container {
  background: #fff6e9;
  border-radius: 3rem;
}
.how-to .display-3,
.how-to h2 {
  font-weight: 600;
}
.how-to h2 {
  color: #f41976;
  text-transform: uppercase;
}
.how-to h4 {
  line-height: 1.75;
}
.how-to img {
  width: 100%;
}
.how-to .btn-row a {
  border: 4px solid #ffd588;
  color: #666b6d;
  background: linear-gradient(0deg, rgba(19, 105, 236, 0) 0%, rgba(255, 177, 107, 0) 50%, #ffb16b 51%, #ffdb8d 100%);
  background-size: 300% 300%;
  background-position: center bottom;
  transition: 0.3s;
}
.how-to .btn-row a:hover {
  background-position: center top;
  color: #fff;
  transition: 0.3s;
}

.more-features .btn-row a,
.how-to .btn-row a {
  border-radius: 4rem;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.6rem;
  font-weight: 600;
  letter-spacing: 0.1rem;
  padding-left: 6rem;
  padding-right: 6rem;
}

.testimonials img {
  filter: grayscale(100%);
  transition: 0.3s;
}
.testimonials img:hover {
  cursor: pointer;
}
.testimonials .text-content {
  padding: 0 2rem;
}
.testimonials .text-content .container {
  border-radius: 3rem;
  background: linear-gradient(45deg, #19a5a1 0%, #63e8e4 100%);
  filter: drop-shadow(0 1rem 1rem rgba(25, 165, 161, 0.5));
  color: #fff;
}
.testimonials .text-content .container h1 {
  font-weight: 500;
  line-height: 1.75;
}
.testimonials .text-content .container h4 {
  font-weight: 600;
  text-transform: uppercase;
}
.testimonials .carousel-item img {
  width: auto;
  height: 15rem;
}
.testimonials .testimonial-row .container {
  display: flex;
}

.faq .container {
  border-radius: 3rem;
}
.faq h2 {
  font-weight: 600;
}
.faq .accordion-item {
  border: none;
}
.faq .accordion-item,
.faq h2 {
  background: transparent;
}
.faq i {
  color: #f41976;
}
.faq .container {
  background: #fef2f6;
}
.faq .container .answer-container {
  background: #fff;
  border-radius: 3rem;
}
.faq .container .answer-container h4 {
  line-height: 1.75;
}
.faq .container .answer-container::before {
  content: "";
  width: 4.8rem;
  height: 2.2rem;
  background-size: cover;
  display: block;
  background: url("/assets/img/arrow.png") no-repeat;
  position: absolute;
  top: -2rem;
  left: 5rem;
}
.faq .img-col img {
  z-index: 2;
  filter: drop-shadow(0 0.75rem 2rem rgba(242, 2, 107, 0.4));
}
.faq .img-col::before {
  content: "";
  width: 60rem;
  height: 60rem;
  background: linear-gradient(45deg, #f2026b 0%, #ff8aaf 50%, #f2026b 100%);
  background-size: 200% 200%;
  animation: img-col-circle 5s linear infinite alternate-reverse;
  border-radius: 100%;
  position: absolute;
  right: 50%;
  transform: translateX(30rem);
  z-index: 1;
  filter: drop-shadow(0 0.75rem 4rem #ff8aaf);
}

.pricing-tier > .container {
  background-size: 200% 200%;
  border-radius: 3rem;
}
.pricing-tier,
.pricing-tier a {
  color: #fff;
}
.pricing-tier a {
  text-decoration: none;
}
.pricing-tier a h3 {
  font-weight: 600;
  transition: 0.3s;
}
.pricing-tier a:hover h3 {
  transition: 0.3s;
  transform: scale(1.25);
}
.pricing-tier h3 {
  text-transform: uppercase;
}
.pricing-tier h4 {
  font-weight: 400;
}
.pricing-tier .icon {
  background: #fff;
  border-radius: 100%;
  width: 12.5rem;
  height: 12.5rem;
}
.pricing-tier:first-of-type > .container {
  background: linear-gradient(45deg, #9341d4 0%, #d98efb 100%);
  filter: drop-shadow(0 2rem 1rem rgba(147, 65, 212, 0.35));
}
.pricing-tier:first-of-type .icon,
.pricing-tier:first-of-type .detail i {
  color: #d98efb;
}
.pricing-tier:nth-of-type(2) > .container {
  background: linear-gradient(45deg, #1369ec 0%, #65bef4 100%);
  filter: drop-shadow(0 2rem 1rem rgba(19, 105, 236, 0.35));
}
.pricing-tier:nth-of-type(2) .icon,
.pricing-tier:nth-of-type(2) .detail i {
  color: #65bef4;
}
.pricing-tier:last-of-type > .container {
  background: linear-gradient(45deg, #19a5a1 0%, #63e8e4 100%);
  filter: drop-shadow(0 2rem 1rem rgba(25, 165, 161, 0.35));
}
.pricing-tier:last-of-type .icon,
.pricing-tier:last-of-type .detail i {
  color: #63e8e4;
}
.pricing-tier .detail-content {
  width: 100%;
  background: #fff;
  border-radius: 3rem;
  color: #000;
}
.pricing-tier .detail-content h1 {
  font-weight: 700;
}
.pricing-tier .detail-content::before {
  content: "";
  width: 4.8rem;
  height: 2.2rem;
  background-size: cover;
  display: block;
  background: url("/assets/img/arrow.png") no-repeat;
  position: absolute;
  top: -2rem;
  left: 50%;
  transform: translateX(-50%);
}

.preview > .container {
  height: calc(50vh + 78.8rem);
  min-height: 119rem;
}
.preview .container {
  border-radius: 3rem;
  background: #f0f7fc;
}
.preview .container .arrow-container {
  font-size: 5rem;
}
.preview .carousel {
  width: 110%;
}
.preview .carousel .col img {
  position: relative;
  z-index: 1;
  opacity: 0.25;
}
.preview .carousel .col:nth-of-type(3) img {
  opacity: 1;
  z-index: 2;
}
.preview .swiper-container {
  height: 78.8rem;
  width: 100vw;
  overflow: visible;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 0;
  top: 0;
  cursor: grab;
}
.preview .swiper-container .swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.2;
  transition: 0.3s;
  filter: saturate(0);
}
.preview .swiper-container .swiper-slide-active {
  transition: 0.3s;
  opacity: 1;
  filter: saturate(1);
}

.sign-up {
  height: 50vh;
  min-height: 60rem;
}
.sign-up > .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 3rem;
  background: #fef2f6;
  margin-top: 3rem;
}
.sign-up > .container, .sign-up > .container > .row {
  width: 100%;
}
.sign-up > .container, .sign-up > .container > .row,
.sign-up > .container .col-lg-6 {
  height: 100%;
}
.sign-up-woman {
  z-index: 2;
}
.sign-up-texture {
  z-index: 1;
  max-width: none;
}
.sign-up input[type=text] {
  border: 2px solid #ffdbe8;
  transition: 0.3s;
}
.sign-up input:focus-visible {
  outline: none;
  border: 2px solid #fe7fa9;
  transition: 0.3s;
}
.sign-up a {
  background: linear-gradient(0deg, #f2026b 0%, #ff8aaf 50%, #f2026b 100%);
  filter: drop-shadow(0 0.75rem 0.75rem #ff8aaf);
  background-size: 200% 200%;
  background-position: center bottom;
  transition: 0.3s;
  border-radius: 3rem;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
}
.sign-up a:hover {
  background-position: center top;
  transition: 0.3s;
}
.sign-up input[type=text],
.sign-up a {
  border-radius: 6rem;
}

footer .container {
  background: #f0f7fc;
  border-radius: 3rem;
}
footer h4 {
  font-weight: normal;
  line-height: 2;
}
footer .facebook a,
footer .twitter a,
footer .linked-in a,
footer .youtube a {
  text-decoration: none;
  color: #fff;
  border-radius: 100%;
  width: 4rem;
  height: 4rem;
  transition: 0.3s;
}
footer .facebook a:hover,
footer .twitter a:hover,
footer .linked-in a:hover,
footer .youtube a:hover {
  background-position: center top;
}
footer .facebook a {
  background: linear-gradient(0deg, #9341d4 0%, #d98efb 50%, #9341d4 100%);
  background-size: 200% 200%;
  background-position: center bottom;
  filter: drop-shadow(0 0.5rem 0.75rem rgba(147, 65, 212, 0.5));
}
footer .twitter a {
  background: linear-gradient(0deg, #ffb16b 0%, #ffdb8d 50%, #ffb16b 100%);
  background-size: 200% 200%;
  background-position: center bottom;
  filter: drop-shadow(0 0.5rem 0.75rem rgba(255, 177, 107, 0.5));
}
footer .linked-in a {
  background: linear-gradient(0deg, #19a5a1 0%, #63e8e4 50%, #19a5a1 100%);
  background-size: 200% 200%;
  background-position: center bottom;
  filter: drop-shadow(0 0.5rem 0.75rem rgba(25, 165, 161, 0.5));
}
footer .youtube a {
  background: linear-gradient(0deg, #f2026b 0%, #ff8aaf 50%, #f2026b 100%);
  background-size: 200% 200%;
  background-position: center bottom;
  filter: drop-shadow(0 0.5rem 0.75rem rgba(242, 2, 107, 0.5));
}
footer h3 {
  font-weight: 600;
}
footer ul li {
  list-style-type: none;
}
footer ul li a {
  text-decoration: none;
  color: #707577;
  transition: 0.3s;
}
footer ul li a.h3 {
  font-weight: normal;
}
footer ul li a:hover {
  color: #000;
  transition: 0.3s;
}
footer .column-head-row {
  height: 3.3rem;
}

@keyframes img-col-circle {
  0% {
    background-position: bottom left;
  }
  100% {
    background-position: top right;
  }
}
@media screen and (max-width: 1200px) {
  .display-1 {
    font-size: calc(1.625rem + 3.5vw);
  }

  .display-3 {
    font-size: calc(1.525rem + 3vw);
  }

  h1 {
    font-size: calc(1.375rem + 1.1vw);
  }

  h2 {
    font-size: calc(1.325rem + .6vw);
  }

  h3,
.h3 {
    font-size: calc(1.3rem + .1vw);
  }

  h4 {
    font-size: calc(1.275rem + .2vw);
  }

  h5 {
    font-size: 1rem;
  }

  .hero .img-col::before {
    width: 42rem;
    height: 42rem;
    transform: translateX(21rem);
  }
  .hero .app-link-row {
    margin-top: 2rem;
  }

  .feature-icon {
    width: 15rem;
    height: 15rem;
  }
  .feature-icon i {
    font-size: 6rem;
  }

  .more-features-logo .icon-container {
    width: 7rem;
    height: 7rem;
  }
  .more-features-logo .icon-container i {
    font-size: 3rem;
  }

  .testimonials .text-content h1 {
    font-size: calc(1.375rem + .8vw);
  }

  .faq .img-col::before {
    width: 42rem;
    height: 42rem;
    transform: translateX(21rem);
  }
  .faq .accordion {
    z-index: 3;
  }

  .pricing-tier h4 {
    font-size: calc(1.275rem + .1vw);
  }

  .sign-up .w-75 {
    width: 80% !important;
  }

  footer .facebook a,
footer .twitter a,
footer .linked-in a,
footer .youtube a {
    width: 3rem;
    height: 3rem;
  }
  footer .facebook a .h2,
footer .twitter a .h2,
footer .linked-in a .h2,
footer .youtube a .h2 {
    font-size: calc(1.325rem + .2vw);
  }
}
@media screen and (max-width: 992px) {
  .collapse:not(.show) {
    opacity: 0;
    transform: translateX(-100vw);
  }

  .navbar-toggler {
    display: inline-flex;
    justify-content: center;
    align-items: center;
  }

  .navbar-collapse {
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background: linear-gradient(45deg, #9341d4 0%, #d98efb 50%, #9341d4 100%);
    background-size: 200% 200%;
    z-index: 4;
    overflow-y: scroll;
    padding: 3rem 0;
    transform: translateX(0);
  }
  .navbar-collapse ul {
    width: 100%;
    max-width: 57.6rem;
    padding: 0 3rem;
    margin: 0 auto;
  }
  .navbar-collapse ul li {
    padding: 1.5rem 0;
  }
  .navbar-collapse ul li:first-of-type {
    display: flex;
    justify-content: flex-end;
    margin-top: 9rem;
  }
  .navbar-collapse ul li:first-of-type i {
    font-size: 3rem;
  }
  .navbar-collapse ul li:last-of-type {
    margin-bottom: 3rem;
  }
  .navbar-collapse ul li a {
    display: inline-block;
    padding: 0 10%;
    font-weight: 600;
  }
  .navbar-collapse ul li a, .navbar-collapse ul li a i {
    color: #fff;
  }
  .navbar-collapse.show {
    opacity: 1;
  }

  .hero {
    height: auto;
  }
  .hero .display-1 {
    margin-bottom: 1.5rem;
  }
  .hero .container .row {
    flex-direction: column-reverse;
  }
  .hero .text-col {
    margin: 4rem 0;
  }
  .hero .text-col h1,
.hero .text-col h2 {
    text-align: center;
  }
  .hero .img-col::before {
    right: 50%;
    transform: translateX(calc(30rem + .6vw));
    width: calc(60rem + 1.2vw);
    height: calc(60rem + 1.2vw);
  }
  .hero .app-link {
    margin: 1rem auto;
    width: 50%;
  }
  .hero .app-link h3 {
    font-size: calc(1.3rem + .6vw);
  }
  .hero .app-link h5 {
    font-size: 1.25rem;
  }

  .features .display-1 {
    text-align: center;
    margin-bottom: 3rem;
  }
  .features .feature {
    margin-bottom: 5rem;
  }
  .features .feature:nth-of-type(1n):hover, .features .feature:nth-of-type(2n):hover {
    margin-top: 0;
  }
  .features .feature:nth-of-type(2n) {
    margin-top: 0;
  }
  .features .feature:nth-of-type(3), .features .feature:last-of-type {
    margin-bottom: 0;
  }

  .more-features .img-header .textures img {
    width: 50%;
  }
  .more-features .img-header .circles-img img {
    width: 100%;
  }
  .more-features .img-header .circles-img::before {
    width: 60rem;
    height: 60rem;
    bottom: 7.5rem;
  }
  .more-features .text-content .display-1 {
    margin-bottom: 5rem;
  }
  .more-features .text-content .mb-5 {
    margin-bottom: 5rem !important;
  }
  .more-features .text-content .left-col .more-features-logo,
.more-features .text-content .right-col .more-features-logo {
    margin-bottom: 2rem;
  }
  .more-features .text-content .left-col .more-features-logo .icon-container,
.more-features .text-content .right-col .more-features-logo .icon-container {
    width: 12rem;
    height: 12rem;
  }
  .more-features .text-content .left-col .more-features-logo .icon-container i,
.more-features .text-content .right-col .more-features-logo .icon-container i {
    font-size: 5rem;
  }
  .more-features .text-content .left-col .more-features-text-content,
.more-features .text-content .right-col .more-features-text-content {
    text-align: center;
  }
  .more-features .text-content .left-col .text-content-container,
.more-features .text-content .right-col .text-content-container {
    margin-top: 1.5rem;
  }
  .more-features .text-content .left-col .text-content-container::before,
.more-features .text-content .right-col .text-content-container::before {
    top: -2rem;
    left: 50%;
    transform: translateX(-2.4rem);
  }
  .more-features .text-content .left-col {
    margin-bottom: 5rem;
  }
  .more-features .text-content .right-col .row {
    flex-direction: column-reverse;
  }
  .more-features .btn-row .col-md-12 {
    justify-content: center !important;
  }
  .more-features .btn-row .col-md-12:first-of-type {
    margin-bottom: 1.5rem;
  }

  .how-to .content-col img {
    margin-bottom: 1.5rem;
  }
  .how-to .content-col h4 {
    max-width: 37.4rem;
    margin: 0 auto;
  }
  .how-to .content-col:first-of-type, .how-to .content-col:nth-of-type(2) {
    padding-bottom: 3rem;
    margin-bottom: 3rem;
  }
  .how-to .btn-row .col-md-12 {
    justify-content: center !important;
  }
  .how-to .btn-row .col-md-12:first-of-type {
    margin-bottom: 1.5rem;
  }

  .testimonials .testimonial-row .container {
    flex-direction: column;
  }
  .testimonials .testimonial-row img {
    width: auto !important;
    margin-bottom: 0 !important;
    height: 20rem;
  }
  .testimonials .testimonial-row .col-lg-2 {
    justify-content: space-between;
  }
  .testimonials .testimonial-row .text-content {
    margin: 3rem 0;
    padding: 0;
    min-height: 32.6rem;
  }
  .testimonials .testimonial-row .text-content .container {
    margin: 0;
    flex-direction: column !important;
    align-items: center !important;
    text-align: center;
  }
  .testimonials .testimonial-row .flex-column {
    flex-direction: row !important;
  }
  .testimonials .company-carousel .col-lg-4 {
    margin-bottom: 0 !important;
    padding-bottom: 0 !important;
  }
  .testimonials .company-carousel .col-lg-4 h1,
.testimonials .company-carousel .col-lg-4 h2 {
    margin: 0 auto;
  }

  .faq {
    padding-bottom: 0 !important;
    margin-bottom: 0 !important;
  }
  .faq .content {
    flex-direction: column-reverse;
  }
  .faq .img-col::before {
    right: 50%;
    transform: translateX(calc(30rem + .6vw));
    width: calc(60rem + 1.2vw);
    height: calc(60rem + 1.2vw);
  }
  .faq .questions h1 {
    text-align: center;
  }
  .faq .questions h2 {
    max-width: 37.4rem;
    margin: 0 auto;
    text-align: center;
  }
  .faq .questions .accordion-body::before {
    left: 50%;
    transform: translateX(-2.4rem);
  }
  .faq .questions .accordion-collapse {
    max-width: calc(60rem + 1.2vw);
    margin: 0 auto;
  }

  .pricing-tier:first-of-type, .pricing-tier:nth-of-type(2) {
    margin-bottom: 6rem;
  }
  .pricing-tier .detail h4 {
    text-align: center;
  }

  .preview > .container {
    height: auto;
  }
  .preview .section-title {
    margin-bottom: 0 !important;
    padding-bottom: 0 !important;
  }
  .preview .section-title .display-1 {
    text-align: center;
    margin-bottom: 6rem;
  }
  .preview .section-title .justify-content-end {
    justify-content: center !important;
  }
  .preview .section-title .align-items-end {
    align-items: center !important;
  }
  .preview .swiper {
    margin-top: 0 !important;
    padding-top: 0 !important;
    margin-bottom: 0 !important;
    padding-bottom: 0 !important;
  }
  .preview .swiper-container {
    height: 90rem;
    margin-bottom: 0 !important;
  }

  .sign-up {
    height: auto;
  }
  .sign-up .display-1 {
    text-align: center;
  }
  .sign-up > .container {
    height: auto;
    padding-top: 6rem;
  }
  .sign-up .sign-up-col {
    margin-bottom: 10rem;
  }
  .sign-up .sign-up-col .container {
    align-items: center !important;
  }
  .sign-up .sign-up-col .container .row {
    flex-direction: column;
  }
  .sign-up .sign-up-col .container .row .col {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .sign-up .sign-up-col .container .row .col input[type=text] {
    text-align: center;
    max-width: 50rem;
    margin-bottom: 1.75rem;
  }
  .sign-up .sign-up-col .container .row .col a {
    max-width: 20rem;
  }
  .sign-up .sign-up-col .container .row .col input[type=text],
.sign-up .sign-up-col .container .row .col a {
    padding-top: 2rem !important;
    padding-bottom: 2rem !important;
  }
  .sign-up .img-col img:last-of-type {
    position: relative !important;
  }

  footer .col-md-12 {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    padding-bottom: 0 !important;
  }
  footer .col-md-12 .container {
    justify-content: center !important;
    align-items: center !important;
    text-align: center;
  }
  footer .col-md-12 .container .d-inline-flex {
    display: flex !important;
  }
  footer .col-md-12:first-of-type {
    margin-bottom: 3rem !important;
  }
  footer .col-md-12 .app-link-row {
    flex-direction: column;
  }
  footer .col-md-12 .app-link-row .app-link .text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  footer .col-md-12 .pt-5 {
    padding-top: 0 !important;
  }
}
@media screen and (max-width: 768px) {
  .hero .img-col::before,
.faq .img-col::before {
    width: 45rem;
    height: 45rem;
    transform: translateX(22.5rem);
  }

  .features .feature:nth-of-type(3) {
    margin-bottom: 5rem;
  }

  .more-features .img-header {
    height: 70vw;
  }
  .more-features .img-header .circles-img::before {
    width: 80vw;
    height: 80vw;
  }
  .more-features .img-header .play-button {
    width: 10rem;
    height: 10rem;
    top: 0;
    left: 8%;
  }
  .more-features .img-header .play-button i {
    font-size: 3rem;
  }
  .more-features .img-header .play-button i.large {
    font-size: 5rem;
  }
  .more-features .text-content .display-1 {
    margin-bottom: 0;
  }
  .more-features .text-content .btn-row .col-md-12 {
    justify-content: center !important;
  }
  .more-features .text-content .btn-row .col-md-12:first-of-type {
    margin-bottom: 1.5rem;
  }

  .how-to .btn-row .col-md-12 {
    justify-content: center !important;
  }
  .how-to .btn-row .col-md-12:first-of-type {
    margin-bottom: 1.5rem;
  }

  .testimonials .carousel-title h2 {
    text-align: center;
  }
  .testimonials .carousel-item img {
    width: 80%;
    height: auto;
  }

  .pricing {
    padding-top: 0 !important;
    margin-top: 0 !important;
  }
}
@media screen and (max-width: 576px) {
  .display-1 {
    max-width: 90%;
    margin: 0 auto;
  }

  .hero > .container > .row > .col:last-of-type::before {
    width: 90vw;
    height: 90vw;
    transform: translateX(45vw);
  }
  .hero > .container > .row > .col:last-of-type img {
    width: 80%;
  }
  .hero .app-link {
    width: 100%;
    max-width: 25rem;
  }

  .more-features .img-header {
    height: 80vw;
  }
  .more-features .img-header .circles-img {
    height: 100%;
    bottom: 0;
  }
  .more-features .img-header .circles-img::before {
    width: 75vw;
    height: 75vw;
    top: 0;
    bottom: auto;
  }
  .more-features .img-header .circles-img img {
    transform: translateY(20%);
  }
  .more-features .img-header .play-button {
    width: 20vw;
    height: 20vw;
    top: 15%;
  }
  .more-features .img-header .play-button i {
    font-size: 7vw;
  }
  .more-features .img-header .play-button i.large {
    font-size: 10vw;
  }

  .more-features .btn-row a,
.how-to .btn-row a {
    font-size: calc(1rem + 1vw);
    padding: 3rem;
    width: 100%;
    max-width: 25rem;
    text-align: center;
  }

  .testimonials .testimonial-row img {
    width: 40vw !important;
    height: 40vw;
    max-width: 20rem;
    max-height: 20rem;
  }

  .faq-image .container::before {
    width: 90vw;
    height: 90vw;
    transform: translateX(45vw);
  }
  .faq-image .container img {
    width: 80%;
  }

  .preview > .container {
    min-height: auto;
  }
  .preview .section-title .display-1 {
    margin-bottom: 3rem;
  }
  .preview .swiper-container {
    height: 100vh;
    padding: 3rem 0;
  }
  .preview .swiper-container img {
    height: 100%;
  }

  .sign-up .display-1 {
    text-align: center;
  }
  .sign-up .img-col img:first-of-type {
    width: 100%;
  }
  .sign-up .img-col img:last-of-type {
    width: 80%;
    max-width: 27.4rem;
  }
}

/*# sourceMappingURL=index.css.map */
